# Ignore compiled Python files
*.pyc
__pycache__/

# Ignore SQLite database
db.sqlite3

# Ignore virtual environment
venv/
env/

# Ignore Django migrations
migrations/

# Ignore environment variables (security reasons)
.env

# Ignore static and media files
staticfiles/
media/

# Ignore IDE settings (optional)
.vscode/
.idea/